<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' , :object => f.object %>
  <%= render 'users/form' , :f => f %>
  <div class="action">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
